Language: C
BasedOnStyle: LLVM

ColumnLimit: 140
IndentWidth: 4
ContinuationIndentWidth: 4

AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Attach
BinPackParameters: OnePerLine
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 1
AllowShortBlocksOnASingleLine: Always
IndentPPDirectives: BeforeHash