# JetBrains
.idea/

# tools
.pytest_cache/
.ruff_cache/
.rumdl_cache/

# python
.venv/
venv/
dist/
build/
__pycache__/
.hpy-download/
.hpy-source/
py-src/c_uuid_v7/_version.py

*.egg-info
*.pyd
*.pyc

uv.lock
